<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<title><%= name %>, CV</title>
</head>
<body>
	<div class="page">
		<header>
			<div>(page is still under construction)</div>
			<h1>&lt;cv&gt;</h1>
			<h2 class="property">
				<%= name %>
			</h2>
			<h3 class="const"><%= title %></h3>

			<div class="flex-wrap">
				<div id="photo" class="flex-column info-section">
					<img src="<%= photo %>" alt="photo">
				</div>

				<div class="flex-column second-column">
					<h3 id="contacts">
						<a href="#contacts">#</a>
						<span class="keyword">
							<label class="toggle-label" for="contacts-toggle">contacts</label><button id="contacts-toggle" class="toggle" data-toggle="contacts-content" data-opened="true"></button>
						</span>
					</h3>
					<ul id="contacts-content" class="info-section">
						<% for (const item of contacts) { %>
							<li>
								<% if (item.email) { %>
									<strong>E-mail</strong>: <a target="_blank" href="mailto:<%= item.email %>"><%= item.email %></a>
								<% } else if (item.title) { %>
									<a target="_blank" href="<%= item.url %>"><%= item.title %></a>
								<% } else { %>
									<a target="_blank" href="<%= item.url %>"><%= item.url %></a>
								<% } %>
							</li>
						<% } %>
					</ul>

					<h3 id="languages">
						<a href="#languages">#</a>
						<span class="keyword">
							<label class="toggle-label" for="languages-toggle">languages</label><button id="languages-toggle" class="toggle" data-toggle="languages-content" data-opened="true"></button>
						</span>
					</h3>
					<ul id="languages-content" class="info-section">
						<% for (const item of languages) { %>
							<li><%= item %></li>
						<% } %>
					</ul>
				</div>
			</div>
		</header>

		<main>
			<h3 id="summary">
				<a href="#summary">#</a>
				<span class="keyword">
					<label class="toggle-label" for="summary-toggle">summary</label><button id="summary-toggle" class="toggle" data-toggle="summary-content" data-opened="true"></button>
				</span>
			</h3>
			<p id="summary-content" class="indentation info-section"><%= summary %></p>

			<h3 id="programming-languages">
				<a href="#programming-languages">#</a>
				<span class="keyword">
					<label class="toggle-label" for="prog-lang-toggle">programming languages</label><button id="prog-lang-toggle" class="toggle" data-toggle="prog-lang-content" data-opened="true"></button>
				</span>
			</h3>
			<div id="prog-lang-content" class="info-section">
				<div class="flex-column">
					<% for (const i in programming_languages) {
						const item = programming_languages[i];
						%>
						<div id="<%= item.id %>" class="flex-column collapsible">
							<label class="toggle-label" for="prog-lang-<%= i %>-toggle">
								<div class="flex-row">
									<div class="prog-lang-title">
										<button id="prog-lang-<%= i %>-toggle" class="toggle" data-toggle="prog-lang-<%= i %>-content"></button>
										<span class="const"><%= item.title %></span>
									</div>
									<div>
										<span class="comment">// <%= item.experience %></span>
									</div>
								</div>
							</label>
							<div id="prog-lang-<%= i %>-content">
								<% if (item.description) { %>
									<p class="indentation">
										<%= item.description %>
									</p>
								<% } %>
								<% if (item.projects.length) { %>
									<p class="indentation">
										<strong>Projects:</strong>
										<%_ for (const j in item.projects) {
											const proj = item.projects[j];
											_%>
											<%_ if (j > 0) { _%>, <% } _%>
											<a href="#<%= proj.id %>"><%= proj.title %></a><%_ } _%>
									</p>
								<% } %>
							</div>
						</div>
					<% } %>
				</div>
			</div>

			<h3 id="skills">
				<a href="#skills">#</a>
				<span class="keyword">
					<label class="toggle-label" for="skills-toggle">skills</label><button id="skills-toggle" class="toggle" data-toggle="skills-content" data-opened="true"></button>
				</span>
			</h3>
			<ul id="skills-content" class="info-section">
				<% for (const item of skills) { %>
					<li>
						<strong><%= item.title %></strong>:
						<%= item.description %>
						<% if (item.examples) { %>
							<% for (const example of item.examples) { %>
								<a target="_blank" href="<%= example.url %>"><%= example.title %></a>
							<% } %>
						<% } %>
					</li>
				<% } %>
			</ul>

			<h3 id="work-experience">
				<a href="#work-experience">#</a>
				<span class="keyword">
					<label class="toggle-label" for="work-experience-toggle">work experience</label><button id="work-experience-toggle" class="toggle" data-toggle="work-experience-content" data-opened="true"></button>
				</span>
			</h3>
			<ul id="work-experience-content" class="info-section">
				<div class="collapsible">
					[expand all]
				</div>
				<div class="flex-column">
					<% for (const i in work_experience) { // TODO: order
						const item = work_experience[i];
						%>
						<div id="<%= item.id %>" class="collapsible">
							<div class="flex-row flex-wrap">
								<div class="wexp-years">
									<span class="comment"><%= item.years[0] %> - <%= item.years[1] %></span>
								</div>
								<div class="wexp-company">
									at&nbsp;
									<span class="property">
										<a target="_blank" href="<%= item.company_url %>"><%= item.company %></a>
									</span>
								</div>
								<div class="wexp-position">
									<span class="const"><%= item.position %></span>
								</div>
							</div>
							<div>
								<button id="<%= item.id %>-toggle" class="toggle" data-toggle="<%= item.id %>-content" data-opened="true"></button> <label class="toggle-label" for="<%= item.id %>-toggle"><strong>Project</strong>:</label>
								<a target="_blank" href="<%= item.project_url %>"><%= item.project %></a>
								<div id="<%= item.id %>-content">
									<%= item.description %>
									<!-- TODO: i_did, languages, achievements -->
								</div>
							</div>
						</div>
					<% } %>
				</div>
			</ul>

			<h3 id="projects">
				<a href="#projects">#</a>
				<span class="keyword">
					<label class="toggle-label" for="projects-toggle">projects</label><button id="projects-toggle" class="toggle" data-toggle="projects-content" data-opened="true"></button>
				</span>
			</h3>
			<div id="projects-content" class="info-section">
				<% for (const i in projects) {
					const item = projects[i];
					%>
					<div class="collapsible" id="<%= item.id %>">
						<label class="toggle-label" for="project-<%= i %>-toggle">
							<div>
								<button id="project-<%= i %>-toggle" class="toggle" data-toggle="project-<%= i %>-content"></button>
								<span class="const"><%= item.title %></span>
							</div>
							<div class="indentation">
								<div>
									<span class="comment">// <%= item.description %></span>
								</div>
								<a target="_blank" href="<%= item.url %>"><%= item.url %></a>
							</div>
						</label>
						<div id="project-<%= i %>-content">
							<% if (item.i_did) { %>
								<p class="indentation">
									<strong>What I did:</strong>
									<%= item.i_did %>
								</p>
							<% } %>
							<% if (item.languages.length) { %>
								<p class="indentation">
									<strong>Languages:</strong>
									<%_ for (const j in item.languages) {
										const lang = item.languages[j];
										_%>
										<%_ if (j > 0) { _%>, <% } _%>
										<a href="#<%= lang.id %>"><%= lang.title %></a><%_ } _%>
								</p>
							<% } %>
						</div>
					</div>
				<% } %>
			</div>
		</main>

		<footer>
			<h3 id="notes">
				<a href="#notes">#</a>
				<span class="keyword">
					<label class="toggle-label" for="notes-toggle">notes</label><button id="notes-toggle" class="toggle" data-toggle="notes-content"></button>
				</span>
			</h3>
			<div id="notes-content" class="indentation info-section">
				<p>
					Source code of this page can be found
					<a target="_blank" href="<%= cv_page_source %>">on GitHub</a>.
					Implementation was inspired by the <a target="_blank" href="https://jsonresume.org/">jsonresume.org</a> project.
				</p>
				<p>
					Page built: <%= new Date().toGMTString() %>
				</p>
			</div>
		</footer>
	</div>
	<script src="./js/main.js"></script>
</body>
</html>
